<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Professional Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <!--HTML y CSS-->
          <div class="row">
            <!--HTML-->
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">{{skills.skill1}}</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                          data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                          aria-valuemax="100" [style.width]="skills.progress1">
                    </div>
                    <span class="progress-value">{{skills.progress1}}</span>
                  </div>
                </div>
              </div>
            <!--CSS-->
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">{{skills.skill2}}</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" [style.width]="skills.progress2">
                  </div>
                  <span class="progress-value">{{skills.progress2}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--JS Y BOOSTRAP-->
          <div class="row">
            <!--JS-->
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">{{skills.skill3}}</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" [style.width]="skills.progress3">
                  </div>
                  <span class="progress-value">{{skills.progress3}}</span>
                </div>
              </div>
            </div>
            <!--BOOSTRAP-->
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">{{skills.skill4}}</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" [style.width]="skills.progress4">  
                  </div>
                  <span class="progress-value">{{skills.progress4}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--ANGULAR-->
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">{{skills.skill5}}</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" [style.width]="skills.progress5">
                  </div>
                  <span class="progress-value">{{skills.progress5}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>